name: Playwright Tests
on:
  ##push:
  #   branches: [ main, master ]
  # pull_request:
  #   branches: [ main, master ]
  workflow_dispatch():
    inputs:
      test_file:
        description: 'Test file to run (example: tests/test_login.py)'
        required: true

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
       python-version: '3.11'
    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps
    - name: Run selected Playwright test file
      run: |
          pytest ${{ github.event.inputs.test_file }}

        
